*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #080808;
  color: #fff;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/profile-img.png);
  background-size: cover;
  background-position: center;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content:'' ;
  width: 0;
  height: 3px;
  background:#ff004f ;
  position: absolute;
  left: 0;
  bottom:-6px ;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
  color: #ff004f;
}
/*--------ABOUT----------*/
#about{
  padding: 50px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis:35% ;
}
.about-col-1 img{
margin-top: 10px;
width: 100%;
border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: white
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight:500 ;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background:#ff004f ;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-links::after{
  width: 50%;
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
}
.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/*--------Services----------*/
#services{
  padding: 15px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 40px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);
}
/*--------Portfolio----------*/
#portfolio{
  padding: 30px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 10px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
margin-top: 20px;
color: #ff004f;
text-decoration: none;
font-size: 12px;
line-height: 30px;
background: #fff;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ff004f;
}
/*--------Contact----------*/
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: right;
  padding: 25px, 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
  padding-right: 20px;
}
.copyright i{
  color: #ff004f;
}
/*--------Css for small screen----------*/
nav .fa-solid{
  display: none;
}

/*--------swiper----------*/

.container2{
  margin-top: 10px;
  padding: 10px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper{
  width: 100%;
  height: 100%;
}
.swiper h3{
  text-align: center;
}
.swiper-slide{
  max-width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 20px 0 40px;
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(0,0,0,0.5), inset 0 2px 2px rgba(255, 255, 255, 0.2);
  cursor: grab;
}
.content{
  position: relative;
  display: grid;
  grid-auto-flow: dense;
  height: 100%;
  padding: 10px;
  background: rgba(104,104,104,0.5);
  color: #fff;
  user-select: none;
}
.content::before, .content::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg,
  rgb(30,119,95),
  rgb(55,141,167),
  rgb(93,59,174),
  rgb(165,59,157)
  );
}
.content img{
    width: 100%;
  pointer-events: none;
  user-select: none;
  aspect-ratio: 5/5;
  border-radius:5px;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  filter: grayscale(1);
}
.overlay{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(3,3,185,0.5)
  );
  border-radius: inherit;
}
.swiper-wrapper{
  transition-timing-function: linear !important;
}

@media only screen and (max-width: 600px){
  #header{
    background-image: url(images/phone-background.png);
    width: 100%;
  height: 70vh;
  }
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text p{
  font-size: 24px;
  }
  .header-text h1{
  font-size: 35px;
  margin-top: 20px;
  }
  nav .fa-solid{
  display: block;
  font-size: 25px;
}
nav ul{
  background: #ff004f;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li{
  display: block;
  margin: 25px;
}
nav ul .fa-solid{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
.sub-title{
  font-size: 40px;
}
.about-col-1, .about-col-2{
  flex-basis: 100%;
}.about-col-1{
  margin-bottom: 30px;
}
.about-col-2{
  font-size: 14px;
}
#services{
  padding: 5px 0;
}
.btn{
  margin: 20px auto;
}
.tab-links{
  font-size: 16px;
  margin-right: 20px;
}
.contact-left, .contact-right{
  flex-basis: 100%;
}
.copyright{
  font-size: 10px;
}
.swiper{
  width: 112%;
  height: 80%;
 
}
.swiper-slide{
  max-width: 100px;
  height: 85px;
  margin: 10px 0 10px;
 }
 .content{
  height: 100%;
  padding: 5px;
}
.content::before, .content::after{
  border-radius: 5px;
}
 .content img{
  aspect-ratio:2/5;
 }
}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}

@media only screen and (max-width: 500px){
 .content img{
  aspect-ratio: 4.7/5;
 }
}
